<form method="post" action="{{ path('app_admin_purchase_delete', {'id': purchase.id}) }}" onsubmit="return confirm('Supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase.id) }}">
    <button class="alert-btn">Supprimer</button>
</form>
