{% extends 'base.html.twig' %}

{% block title %}Leçons{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/amely/Documents/CEF/Devoirs/14 Profet final 3/knowledge/knowledge/src/Controller/LessonsController.php'|file_link(0) }}">src/Controller/LessonsController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/amely/Documents/CEF/Devoirs/14 Profet final 3/knowledge/knowledge/templates/lessons/index.html.twig'|file_link(0) }}">templates/lessons/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
