@import './header.css';
@import './footer.css';

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

main {
    margin: 30px 20px;
}

h1 {
    color: #0074c7;
}

h2, h3 {
    color:  #00497c;
}

.btn {
    background-color: #82b864;
    color: #f1f8fc;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.alert-btn  {
    background-color: #cd2c2e;
    color: #f1f8fc;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.admin-link {
    text-decoration: none;
}