{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_admin_user_index') }}">Gérer les utilisateurs</a><br>
        <a href="{{ path('app_admin_course_index') }}">Gérer les cursus</a><br>
        <a href="{{ path('app_admin_lesson_index') }}">Gérer les leçons</a><br>
        <a href="{{ path('app_admin_purchase_index') }}">Gérer les achats</a>
    </div>
{% endblock %}
