{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div>
        <h1>Cursus</h1>
        <div>
            <div>
            {% for course in courses %}
                <p>{{ course.theme.name }} - {{ course.name }}</p>
                <p>Prix : {{ course.price }}€</p>
            </div>
            <div>
                <button class="btn" onclick="window.location.href='{{ path('app_course', { 'id': course.id }) }}'">Voir</button>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
