{% extends 'base.html.twig' %}

{% block title %}Nouveau cursus{% endblock %}

{% block body %}
    <h1>Créer un nouveau cursus</h1>

    {{ include('admin_course/_form.html.twig') }}

    <button class="btn" onclick="window.location.href='{{ path('app_admin_course_index') }}'">Retour à la liste</button>
{% endblock %}
